{% extends 'base.html' %}

{% block content %}


  <!-- Sidebar (Фильтр) -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-brand">Фильтр</div>
    <form>
      <div class="mb-3">
        <select class="form-select" aria-label="Select Category">
          <option selected>Все категории</option>
          <option value="1">Технологии</option>
          <option value="2">Кулинария</option>
          <option value="3">Фильмы</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Select Time">
          <option selected>Все время</option>
          <option value="1">Сегодня</option>
          <option value="2">Последняя неделя</option>
          <option value="3">Последний месяц</option>
        </select>
      </div>
      <div class="d-grid gap-2 mb-5">
        <button class="btn btn-primary" type="button">Применить</button>
        <button class="btn btn-secondary" type="button">Сбросить</button>
      </div>
    </form>
  </div>

  <!-- News Container -->
  <div class="news-container">
    <!-- News Cards -->
    <div class="row justify-content-center">
      <div class="col-md-10">

{% for post in posts %}
        <div class="card news-card" onclick="location.href={{url_for('.show_post', alias=post.id)}}">
          {% if post.filename%}
            <img src="{{url_for('.send_file', filename=post.filename)}}" class="card-img-top" alt="...">
          {% else %}
            <img src="{{url_for('static', filename='/img/default_news.jpg')}}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.desc}}</p>
            <p class="card-text d-flex">
                <small class="text-muted me-auto ">Категория: {{post.name}}</small>
                <small class="text-muted">Автор: {{post.username}}, {{post.date|formatdatetime('%d %B %Y, %H:%M')}}</small>

            </p>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>

  <!-- Filter Button (Кнопка для показа фильтра на маленьких экранах) -->
  <button class="btn btn-primary filter-btn" id="filterButton">Показать фильтр</button>

<script src="{{ url_for('static', filename='js/myscript.js') }}"></script>

{% endblock content %}